.header {
  width: 100%;
  height: (100vh);
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)),
    url('../images/bg-1.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.single-destination {
  position: absolute;
  top: 20%;
  left: 12%;
  background-color: var(--secondary-color);
  width: 75%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--light-gray-color);
}
.single-destination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-destination-header {
  margin: 15px;
  font-size: 30px;
  cursor: default;
  border-bottom: 2px solid rgb(119, 119, 119, 0.6);
}
.single-destination-header:hover {
  color: var(--light-gray-color);
}
.single-destination-content {
  display: flex;
  justify-content: space-between;
}
.single-destination-img {
  width: 35%;
  height: 20%;
  margin: 0px 20px;
}
.single-destination-description {
  font-size: 20px;
  margin: 0px 20px;
}
.single-destination-price {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: var(--white-color);
  width: 100%;
  text-align: center;
  color: #2b81e4;
  border-top: 1px solid rgb(8, 8, 8, 0.6);
  border-bottom: 1px solid rgba(8, 8, 8, 0.6);
  letter-spacing: 1px;
}
.single-destination-date {
  font-size: 22px;
  cursor: default;
  margin-top: 5px;
}
.make-reservation-btn {
  background-color: var(--gray-color);
  color: var(--white-color);
  border: none;
  font-size: 18px;
  padding: 8px 30px;
  margin: 15px 10px 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px var(--light-gray-color);
  cursor: pointer;
}
.make-reservation-btn:hover {
  background-color: var(--light-gray-color);
}
